@import '../../../../common/styles/mixins/mixins';

.operations {
  display: flex;
  column-gap: 8px;
  height: 48px;
  border-radius: 6px;

  & * {
    @include user_select_none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;

    border: 1px solid #e2e3e5;
    border-radius: 6px;

    &:hover {
      border: 2px solid #5d5fef;
    }

    &:active {
      color: white;
      background: #5d5fef;
      border: 2px solid #5d5fef;
    }
  }
}

.reset {
  position: absolute;
  top: 4px;
  right: -56px;
  height: 48px;
}
