.scoreboard {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  height: 52px;
  padding: 8px;

  font-size: 36px;
  font-weight: 800;

  background: #f3f4f6;
  border-radius: 6px;
}

.size17 {
  font-size: 19px;
}

.size16 {
  font-size: 20px;
}

.size15 {
  font-size: 21px;
}

.size14 {
  font-size: 23px;
}

.size13 {
  font-size: 25px;
}

.size12 {
  font-size: 27px;
}

.size11 {
  font-size: 29px;
}

.size10 {
  font-size: 32px;
}
